/* --------------Gameboard---------- */
.gameBoard {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.desk {
  position: relative;
  width: 700px;
  height: 700px;
  background-color: var(--color-grey);
  border: var(--border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.clikElem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
}

.clikElem_green {
}

.clikElem_Blue {
}

.clikElem_Yellow {
}
