/* ----------------levelTaskBoard--------------- */

.levelTaskBoard{
    display: flex;
}

.levelTaskBoard_task{
    display: flex;
}

.levelTaskBoard_color:not(:last-child) {
    margin-right: 20px;
}