:root {
  --background_color: #fafafa;
  --main-color: #0f1c2b;
  --text-color-add: #757575;
  --color-grey: #d9d9d9;
  --color-grey-xl: #cecece;
  --color-dark: rgba(15, 28, 43, 0.5);

  --green-color: #b9ea6a;
  --blue-color: #6f9cdd;
  --blue-color-xl: #3079d1;
  --yellow-color: #fce25c;

  --elementSize: 30px;
  --border: 5px solid #0f1c2b;
  --border-radius: 16px;
}
